{% extends 'index.html' %}
{% block content %}
             
<br/><br/><br/><br/>
            {% if results.data.beer %}
                
                <h6 class="text-center">Find this beer at</h6>
                <h1 id="name1" class="text-center">{{results.data.beer.brewer.name}}</h1>
                
                <div class = "container" id="result" onclick="location.href='#map'">
                    <div class = "row align-items-center" style="text-align: center;">
                       <div class = "col-3">
                            <img src="{{ results.data.beer.brewer.imageUrl }}" alt="Smiley face" style="max-width: 95%; max-height:95%">
                        </div>
                        <div class = "col-2 align-middle">
                            {% if results.data.beer.brewer.phone %}
                                {{ results.data.beer.brewer.phone }}
                            {% endif %}
                        </div>
                        <div class = "col">
                            {% if results.data.beer.brewer.type %}
                                {{ results.data.beer.brewer.type }}
                            {% else %}
                                {{ match.brewery.brewery_type }}
                            {% endif %}
                        </div>
                        {% if match.brewery.contact.url %}
                        <div class = "col">
                            <a href="{{ match.brewery.contact.url }}">{{ match.brewery.contact.url }}</a>
                        </div>
                        {% endif %}
                        <div class = "col - 3">
                            {% if results.data.beer.brewer.streetAddress %}
                            <a href="#map" id="address1">
                                {{ results.data.beer.brewer.streetAddress }}
                            </a>
                            {% endif %}
                            {% if results.data.beer.brewer.city %}
                            <a href="#map">
                            {{results.data.beer.brewer.city}}, {{results.data.beer.brewer.state.name}} {{results.data.beer.brewer.zip}}
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
                <hr>
                
                <h1 class="text-center">{{ results.data.beer.name }}</h1>
                <br style="line-height: 10px;">
                
                <br style="line-height: 15px;">
                <div class="container">
                    <div class="row align-items-center" style="text-align:center">
                        <div class = "col-lg-5 offset-1 col-sm-6 logo">
                            <img src="{{ results.data.beer.imageUrl }}" alt="Smiley face" height="280em" width="176em">
                        </div>
                        
                        <div class = "col-lg-6 col-sm-6 logo">
                            <div class="row align-items-center">
                                    {% if match.beer.beer_abv %}
                                        <div class = "col-3 offset-3" id="abv" style="text-align: left"> <h5>ABV</h5> </div> 
                                        <div class = "col" id="abvval" style="text-align: left"> <i>{{match.beer.beer_abv|floatformat:-2}}</i> </div>
                                    {% else %}
                                        <div class = "col-3 offset-3" id="abv" style="text-align: left"> <h5>ABV</h5> </div> 
                                        <div class = "col" id="abvval" style="text-align: left"> <i>{{results.data.beer.abv|floatformat:-2}}</i> </div>
                                    {% endif %}
                            </div>
                            
                            <br style="line-height: 15px;">
                        
                            <div class="row align-items-center">
                                    {% if match.beer.beer_ibu %}
                                        <div class = "col-3 offset-3" id="ibu" style="text-align: left"> <h5>IBU</h5> </div> 
                                        <div class = "col" id="ibuval" style="text-align: left"> <i>{{match.beer.beer_ibu|floatformat:-2}}</i> </div>
                                    {% else %}
                                        <div class = "col-3 offset-3" id="ibu" style="text-align: left"> <h5>IBU</h5> </div>
                                        <div class = "col" id="ibuval" style="text-align: left"> <i>{{results.data.beer.ibu|floatformat:-2}}</i> </div>
                                    {% endif %}
                            </div> 
                            
                            <br style="line-height: 15px;">
                            
                            <div class="row align-items-center">
                                    {% if results.data.beer.style.name %}
                                        <div class = "col-3 offset-3" id="style" style="text-align: left"> <h5>Style</h5> </div> 
                                        <div class = "col" id="style" style="text-align: left"> <i>{{results.data.beer.style.name}}</i> </div>
                                    {% else %}
                                        <div class = "col-3 offset-3" id="style" style="text-align: left"> <h5>IBU</h5> </div> 
                                        <div class = "col" id="style" style="text-align: left"> <i>{{match.beer.style}}</i> </div>
                                    {% endif %}
                            </div>
                            
                            <br style="line-height: 15px;">
                            
                            {% if results.data.beer.calories %}
                            <div class="row align-items-center">
                                <div class = "col-3 offset-3" id="calories" style="text-align: left"> <h5>Calories</h5> </div>
                                <div class = "col" id="calories" style="text-align: left"> <i>{{results.data.beer.calories}}</i> </div>
                            </div>
                            {% endif %}
                            
                            <br style="line-height: 15px;">
                            
                            {% if results.data.beer.overallScore %}
                            <div class="row align-items-center">
                                <div class = "col-3 offset-3" id="score" style="text-align: left"> <h5>Total Score</h5> </div>
                                <div class = "col" id="score" style="text-align: left"> <i>{{ results.data.beer.overallScore|floatformat:2 }}</i> </div>
                            </div>
                            {% endif %}
                            
                        </div>
                        
                        <br/><br/>
                            
                </div>
                        
                    <br/>
                    
                    <!-- Style -->
                    {% if results.data.beer.style.description %}
                    <div class="container">
                        <hr>
                    
                        <h5 class = "row">
                            <b>{{results.data.beer.style.name}}</b>
                        </h5>
                        <div class = "row">
                            <div class = "col-12 style" style="white-space: wrap; overflow: hidden; text-overflow: ellipsis;">
                                <i>{{results.data.beer.style.description}}</i>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                    <br style="line-height: 10px;">
                    
                    <!-- Descriptions -->
                    {% if results.data.beer.description %}
                    <div class="container">
                        <h5 class = "row">
                            <b>What our experts say</b>
                        </h5>
                        <div class = "row">
                            <div class = "col-12 description1" style="white-space: wrap; overflow: hidden; text-overflow: ellipsis;">
                                <i>{{ results.data.beer.description }}</i>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                    <br style="line-height: 10px;">
                    
                    <!-- untappd description -->
                    {% if match.beer.beer_description %}
                    <div class="container">
                        <h5 class = "row">
                            <b>From the brewery</b> 
                        </h5>
                        <div class = "row">
                            <div class = "col-12 description2" style="white-space: wrap; overflow: hidden; text-overflow: ellipsis;">
                                <i>{{ match.beer.beer_description }}</i>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                    <br style="line-height: 10px;">
                    
                    <!-- glasses -->
                    {% if results.data.beer.style.glasses %}
                    <div class="container">
                        <h5 class = "row">
                            <b>We think this beer is best enjoyed in</b> 
                        </h5>
                        <br style="line-height: 3px;">
                        {% for glass in results.data.beer.style.glasses %}
                        <div class="col">
                            <div class = "row">
                                <div class = "col glass" style="white-space: wrap; overflow: hidden; text-overflow: ellipsis;">
                                    <h6><b>{{ glass.name }}</b></h6><i>{{ glass.description }}</i>
                                </div>
                            </div>
                        </div>
                        <br style="line-height: 3px;">
                        {% endfor %}
                    </div>
                    {% endif %}
                        
                    
                </div>
            
            {% else %}
            <h1>No results found, please try another beer</h1>
            {% endif %}
            
            
            
            
            
            

  
  <!-- map -->
<body onload="initialize()">
<div style="margin-top:220px" id="map">
  <input id="address" type="text" value="1035 20th St S, Ste B" style="visibility: hidden; margin-top: 20px">
  <input id="button" type="button" value="Geocode" onclick="codeAddress()" style="visibility: hidden">
</div>
<div id="map-canvas" style="height:90%;top:30px;padding:300px;"></div>
</body>

<div id="key" style="visibility: hidden;">
    {{ google_api }}
</div>
<!-- Google Map Settings-->
<script>
    var src = document.getElementById('key').innerHTML.trim()
    document.write('<script src="https://maps.googleapis.com/maps/api/js?key=' + src + '" type="text/javascript"><\/script>');
</script>
<script>

var geocoder;
var map;
function initialize() {
geocoder = new google.maps.Geocoder();
var latlng = new google.maps.LatLng(33.5010548, -86.7962572);
var mapOptions = {
  zoom: 15,
  center: latlng,
  mapTypeId: google.maps.MapTypeId.ROADMAP
}
map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
}

function codeAddress() {
var address = document.getElementById('name1').innerHTML.trim()
if (address){
    if (address == "") {
        address = "1035 20th St S, Ste B"
    }
}
geocoder.geocode( { 'address': address}, function(results, status) {
  if (status == google.maps.GeocoderStatus.OK) {
    map.setCenter(results[0].geometry.location);
    var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location
    });
  } else {
    console.log('Geocode was not successful for the following reason: ' + status);
  }
});
}

</script>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript">
    setTimeout(function(){ $('#button').click() }, 2000);
</script>

<style type="text/css">
#result:hover {
    border: 1px solid rgba(0, 0, 0, .15);
    /*background-color: lightgray;*/
    box-shadow:
            1px 1px lightgray, 2px 2px lightgray, 3px 3px lightgray;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

</style>

<script type="text/javascript">
    $(".description").hover(function(){
        $(this).css("white-space", "normal");
        }, function(){
        $(this).css("white-space", "nowrap");
    });
</script>

{% endblock %}