{% extends 'index.html' %}

{% block content %}
<body>
<br/><br/><br/><br/>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 style="text-align: center">Team Minified</h1>
            <h5 style="text-align: center">AOAP - As Obfuscated As Possible</h5>
            <h6 style="text-align: center">Producing the highest quality code at the lowest possible storage size</h6>
        </div>
    </div>
</div>
<br/><br/><br/>

<div class="container">
    
    <div class="row">
        <div class='col-2'>August 28, 2018 to</div>
        <div class='col-4' style="text-align: right">Week 0 Final Project Initiation</div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>August 28, 2018</div>
        <div class='col' style="text-align: right">First Github push for initial setup</div>
    </div>
    <div class="row">
        <div class='col-2'>September 1, 2018</div>
        <div class='col-4' style="text-align: right"></div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>August 30, 2018</div>
        <div class='col' style="text-align: right">Malty Team creation</div>
    </div>
    <hr/>
    
    
    <div class="row">
        <div class='col-2'>September 2, 2018 to</div>
        <div class='col-4' style="text-align: right">Week 1 Final Project Development</div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>August 28, 2018</div>
        <div class='col' style="text-align: right">Search bar has been implemented for users to search an item</div>
    </div>
    <div class="row">
        <div class='col-2'>September 8, 2018</div>
        <div class='col-4' style="text-align: right">Environment Created</div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>September 3, 2018</div>
        <div class='col' style="text-align: right">Sitemap created, Logo creation, Search bar on homepage</div>
    </div>
    <div class="row">
        <div class='col-2'></div>
        <div class='col-4' style="text-align: right"></div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>September 4, 2018</div>
        <div class='col' style="text-align: right">Search bar ideas, Location widget, static files for bootstrap</div>
    </div>
    <div class="row">
        <div class='col-2'></div>
        <div class='col-4' style="text-align: right"></div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>September 5, 2018</div>
        <div class='col' style="text-align: right">AJAX integration for beer/brewery search experience</div>
    </div>
    <div class="row">
        <div class='col-2'></div>
        <div class='col-4' style="text-align: right"></div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>September 6, 2018</div>
        <div class='col' style="text-align: right">Refined ideas on search results page, defined URLs</div>
    </div>
    <div class="row">
        <div class='col-2'></div>
        <div class='col-4' style="text-align: right"></div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>September 7, 2018</div>
        <div class='col' style="text-align: right">Allowed users to tailor their search to either a brewery, or beer</div>
    </div>
    <div class="row">
        <div class='col-2'></div>
        <div class='col-4' style="text-align: right"></div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>September 8, 2018</div>
        <div class='col' style="text-align: right">Entity Relationship Diagram / Obtained first Ratebeer API key</div>
    </div>
    <hr/>
    
    
    <div class="row">
        <div class='col-2'>September 9, 2018 to</div>
        <div class='col-4' style="text-align: right">Week 2 Final Project Search and</div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>September 9, 2018</div>
        <div class='col' style="text-align: right">Beer search results refinement</div>
    </div>
    <div class="row">
        <div class='col-2'>September 15, 2018</div>
        <div class='col-4' style="text-align: right">Search Results Improvement</div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>September 10, 2018</div>
        <div class='col' style="text-align: right">Obtained first Untappd API keys / Google Map API key</div>
    </div>
    <div class="row">
        <div class='col-2'></div>
        <div class='col-4' style="text-align: right"></div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>September 11, 2018</div>
        <div class='col' style="text-align: right">Integrated Google map on to brewery details page</div>
    </div>
    <div class="row">
        <div class='col-2'></div>
        <div class='col-4' style="text-align: right"></div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>September 12, 2018</div>
        <div class='col' style="text-align: right">User login and profile page integration </div>
    </div>
    <div class="row">
        <div class='col-2'></div>
        <div class='col-4' style="text-align: right"></div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>September 14, 2018</div>
        <div class='col' style="text-align: right">API keys management into credentials.py</div>
    </div>
    <div class="row">
        <div class='col-2'></div>
        <div class='col-4' style="text-align: right"></div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>September 15, 2018</div>
        <div class='col' style="text-align: right">Started integrating the Like button for users for breweries</div>
    </div>
    <hr/>
    
    <div class="row">
        <div class='col-2'>September 16, 2018 to</div>
        <div class='col-4' style="text-align: right">Week 3 Final Project</div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>September 16, 2018</div>
        <div class='col' style="text-align: right">Transfer user's likes on to user's profile page</div>
    </div>
    <div class="row">
        <div class='col-2'>September 22, 2018</div>
        <div class='col-4' style="text-align: right">User Profile Integration</div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>September 18, 2018</div>
        <div class='col' style="text-align: right">Created development database to house user info</div>
    </div>
    <div class="row">
        <div class='col-2'></div>
        <div class='col-4' style="text-align: right"></div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>September 20, 2018</div>
        <div class='col' style="text-align: right">Obtained second Ratebeer API for further application maintenance</div>
    </div>
    <div class="row">
        <div class='col-2'></div>
        <div class='col-4' style="text-align: right"></div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>September 20, 2018</div>
        <div class='col' style="text-align: right">Allowed users to like both beers and breweries</div>
    </div>
    <hr/>
    
    
    <div class="row">
        <div class='col-2'>September 23, 2018 to</div>
        <div class='col-4' style="text-align: right">Week 4 Final Project Heroku deployment</div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>September 23, 2018</div>
        <div class='col' style="text-align: right">Solid grasp of application and its current features</div>
    </div>
    <div class="row">
        <div class='col-2'>September 29, 2018</div>
        <div class='col-4' style="text-align: right">User Profile Integration</div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>September 24, 2018</div>
        <div class='col' style="text-align: right">Caleb Davenport and Min Seo meet up at <a href="/brewery?id=9621&name=Good%20People%20Brewing%20Company">Good People</a></div>
    </div>
    <div class="row">
        <div class='col-2'></div>
        <div class='col-4' style="text-align: right"></div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'></div>
        <div class='col' style="text-align: right">Talked about future plans for the website</div>
    </div>
    <hr/>
    
    <div class="row">
        <div class='col-2'>September 30, 2018 to</div>
        <div class='col-4' style="text-align: right">Week 4 Final Project</div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>September 30, 2018</div>
        <div class='col' style="text-align: right">Bug the crap out of Santiago to help get the project deployed</div>
    </div>
    <div class="row">
        <div class='col-2'>October 3, 2018</div>
        <div class='col-4' style="text-align: right">Heroku deployment</div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>October 1, 2018</div>
        <div class='col' style="text-align: right">Continued to bug Santiago because we're idiots</div>
    </div>
    <div class="row">
        <div class='col-2'></div>
        <div class='col-4' style="text-align: right"></div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>October 2, 2018</div>
        <div class='col' style="text-align: right">FIRST HEROKU DEPLOYMENT!</div>
    </div>
    <div class="row">
        <div class='col-2'></div>
        <div class='col-4' style="text-align: right"></div>
        <div class="col-0.1 verticalLine"></div>
        <div class='col-2'>October 3, 2018</div>
        <div class='col' style="text-align: right">Demo Day - didn't cut it close at all</div>
    </div>
    <hr/>
    <br/><br/><br/>
    
    <div class="row">
        <h4 class='col-5 col-centered' style='text-align:center'>Demo Day and Beyond: Future Development Ideas<hr/></h4>
    </div>
    
    <div class="row">
        <div class='col' style="text-align: center">Integrate suggestion system using machine learning based on user preferences</div>
    </div>
    <div class="row">
        <div class='col' style="text-align: center">Build a beer trading system with other users to try new beers from across the US</div>
    </div>
    <div class="row">
        <div class='col' style="text-align: center">Create a mapping system to allow users to make their own Roadmap of breweries</div>
    </div>
    <div class="row">
        <div class='col' style="text-align: center">Create associated forum and blog for users to interact, sharing their stories</div>
    </div>
    <div class="row">
        <div class='col' style="text-align: center">Build the greatest beer related website the world has ever seen</div>
    </div>
    
</div>

<br/><br/><br/><br/>
<!--
Roadmap
September 16 - 22, 2018: Week 3 Final Project User Profile Integration
    September 17, 2018: Transfer user's likes on to user's profile page / Created development database
        : We wanted to improve our web application by integrating a small database that stores user's information, such as name, contact information, his/her favorite beer / brewery. We want to store users' favorites so that the application could further interact with users and ultimately provide a better beer/brewery suggestion
    September 19, 2018: Obtained second Ratebeer API for further application maintenance 
    September 20, 2018: UI/UX improvement: pagination, footer / "Remove" button integration to allow users to freely remove items from their favorites page
September 23 - 29, 2018: Week 4 Final Project Heroku deployment
    At this point, we have a good initial grasp of the application and understanding of its capability that we implemented. 
    Of course, we would like to further improve our application by providing users beer/brewery suggestion based on locality and other factors. 
    But we focused our time learning about Heroku deployment that would help us display our project to the public.
September 30 - October 3, 2018: Week 5 Final Project Roadmap integration / Presentation preparation
    October 2, 2018: First Heroku Deployment
        https://django-final-beer-project.herokuapp.com/
-->


</body>

<style type="text/css">
.col-centered{
    float: none;
    margin: 0 auto;
}

@media (min-width: 768px){
  .container{
    max-width:95%;
  }  
}

@media (min-width: 992px){
  .container{
    max-width:95%;
  }
}

/*.container {*/
/*    width: 90vw;*/
/*}*/

#result:hover {
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 1px 1px lightgray, 2px 2px lightgray, 3px 3px lightgray;
}
.verticalLine {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}
</style>

{% endblock %}