<div>
{% if user.is_authenticated %}
    <div class="alert-sm alert-light offset-md-4">
      <div style="background-color: rgba(0, 0, 0, 0.4) !important; color: white"> Hello {{ user.username }}! 
      <br/> <a href="{% url 'my_profile' %}">my profile</a> / <a href="{% url 'logout' %}">logout</a> </div>
    </div>
{% else %}
    <div class="alert-sm fade show offset-md-4" role="alert">
      You are not logged in yet. 
      <form class="form-group">
          <a href="{% url 'login' %}">Login</a> / 
          <a href="{% url 'signup' %}">Signup</a>
      </form>
      
    </div>
{% endif %}
</div>
